<div class="card">
  <div class="card-body">
    <h1 class="card-title">ARS</h1>

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>NE Type</th>
          <th>NE Version</th>
          <th>ARS</th>
        </tr>
      </thead>
      <tbody *ngIf="arss">
        <tr *ngFor="let a of arss">
          <td>{{a.neType}}</td>
          <td>{{a.neVersion}}</td>
          <td>
            <button class="btn btn-primary btn-sm">{{a.objectModel}}</button>
            <button class="btn btn-primary btn-sm">PM Data Load</button>
            <button class="btn btn-primary btn-sm">Counter</button>
            <button class="btn btn-primary btn-sm">Alarm</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

