<div class="card">
  <div *ngIf="spec" class="card-body">
    <h2 class="card-title">Alarms of {{spec.neType}} {{spec.neVersion}}</h2>

    <div *ngFor="let adap of adaptations">
      <div style="margin-top: 20px"><h5>Adaptation ID: {{replaceUnderscore(adap)}}</h5></div>
      <div style="overflow: auto;">
        <table>
          <thead>
          <tr>
            <th>No.</th>
            <th>Specific Problem</th>
            <th>Is supported by {{spec.neVersion}}</th>
            <th>Supported previous versions</th>
            <th>Alarm Text</th>
            <th>Probable Cause</th>
            <th>Alarm Type</th>
            <th>Severity</th>
            <th>Meaning</th>
            <th>Instructions</th>
            <th>Cancelling</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alarm of getAlarms(adap); let n = index">
              <td>{{n + 1}}</td>
              <td>{{alarm.specificProblem}}</td>
              <td>
                <span *ngIf="alarm.supported">Yes</span>
                <span *ngIf="!alarm.supported">No</span>
              </td>
              <td>{{alarm.supportedOtherReleases}}</td>
              <td>{{alarm.alarmText}}</td>
              <td>{{alarm.probableCause}}</td>
              <td>{{alarm.alarmType}}</td>
              <td>{{alarm.perceivedSeverityInfo}}</td>
              <td>{{alarm.meaning}}</td>
              <td>{{alarm.instructions}}</td>
              <td>{{alarm.cancelling}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
