<div class="card">
  <div class="card-body">
    <h2 class="card-title">Ne Type</h2>

    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th style="text-align: center">
          <input type="checkbox" [checked]="isSelectAll" (change)="selectAll()">
        </th>
        <th>Name</th>
        <th>Presentation</th>
        <th>Description</th>
        <th>Agent Class</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="isLoading">
        <td colspan="6"><i>Loading ... </i></td>
      </tr>
      <tr *ngFor="let neType of neTypes">
        <td style="text-align: center;">
          <input type="checkbox" [checked]="neType.select" (change)="select(neType)">
        </td>
        <td>{{neType.name}}</td>
        <td>{{neType.presentation}}</td>
        <td>{{neType.description}}</td>
        <td>{{neType.agentClass}}</td>
        <td>
          <a class="indigo-text waves-button" (click)="showEditForm(neType.id); formModal.show()" ><i class="fa fa-edit"></i> Edit</a>
          <a class="red-text waves-button" (click)="deleteNeType(neType.id);confirmModal.show()" ><i class="fa fa-minus-circle"></i> Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <app-pagination></app-pagination>

    <button type="button" class="btn btn-sm btn-outline-primary" (click)="showAddForm();formModal.show()" mdbRippleRadius><i class="fa fa-plus-circle"></i> Add</button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteNeTypes();confirmModal.show()" mdbRippleRadius><i class="fa fa-minus-circle"></i> Delete</button>
  </div>
</div>

<!--Modal: Ne Type Form-->
<div mdbModal style="overflow: auto;" #formModal="mdb-modal" class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <!--Add Form-->
    <div *ngIf="!editing" class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-plus-circle"></i> Add NE Type</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <form [formGroup]="addForm" (ngSubmit)="onAddSubmit();formModal.hide();statusModal.show()" novalidate>
          <div class="md-form form-sm">
            <i class="fa fa-tags prefix"></i>
            <input mdbActive type="text" id="form1" class="form-control" formControlName="name">
            <label for="form1">NE name</label>
            <div *ngIf="aName.invalid && (aName.dirty || aName.touched)"
                 class="alert alert-danger">
              <div *ngIf="aName.errors.required">
                NE Name is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-television prefix"></i>
            <input mdbActive type="text" id="form2" class="form-control" formControlName="presentation">
            <label for="form2">NE Presentation</label>
            <div *ngIf="aPresentation.invalid && (aPresentation.dirty || aPresentation.touched)"
                 class="alert alert-danger">
              <div *ngIf="aPresentation.errors.required">
                Presentation is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input mdbActive type="text" id="form3" class="form-control" formControlName="agentClass">
            <label for="form3">Agent Class</label>
            <div *ngIf="aAgentClass.invalid && (aAgentClass.dirty || aAgentClass.touched)"
                 class="alert alert-danger">
              <div *ngIf="aAgentClass.errors.required">
                Agent Class is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-pencil prefix"></i>
            <textarea mdbActive type="text" id="form4" formControlName="description" class="md-textarea mb-0"></textarea>
            <label for="form4">Description</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" [disabled]="addForm.invalid" class="btn btn-success mb-2 waves-light" mdbRippleRadius><i class="fa fa-save ml-1"></i>  Save</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Edit Form -->
    <div *ngIf="editing" class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-edit"></i> Edit NE Type</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit();formModal.hide();statusModal.show()" novalidate>
          <div class="md-form form-sm">
            <i class="fa fa-tags prefix"></i>
            <input mdbActive type="text" id="form11" class="form-control" formControlName="name">
            <label for="form11">NE name</label>
            <div *ngIf="eName.invalid && (eName.dirty || eName.touched)"
                 class="alert alert-danger">
              <div *ngIf="eName.errors.required">
                NE Name is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-television prefix"></i>
            <input mdbActive type="text" id="form12" class="form-control" formControlName="presentation">
            <label for="form12">NE Presentation</label>
            <div *ngIf="ePresentation.invalid && (ePresentation.dirty || ePresentation.touched)"
                 class="alert alert-danger">
              <div *ngIf="ePresentation.errors.required">
                Presentation is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input mdbActive type="text" id="form13" class="form-control" formControlName="agentClass">
            <label for="form13">Agent Class</label>
            <div *ngIf="eAgentClass.invalid && (eAgentClass.dirty || eAgentClass.touched)"
                 class="alert alert-danger">
              <div *ngIf="eAgentClass.errors.required">
                Agent Class is required.
              </div>
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-pencil prefix"></i>
            <textarea mdbActive type="text" id="form14" formControlName="description" class="md-textarea mb-0"></textarea>
            <label for="form14">Description</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-success mb-2 waves-light" mdbRippleRadius><i class="fa fa-save ml-1"></i>  Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- status modal -->
<div mdbModal [config]="{ignoreBackdropClick: true}" #statusModal="mdb-modal" class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="!submitComplete">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Submitting ...</p>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-save fa-4x mb-3 animated rotateIn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="submitComplete">
    <div *ngIf="status.success" class="modal-dialog modal-notify modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Success</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="statusModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>{{status.message}}</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="statusModal.hide()" mdbRippleRadius>Close</a>
        </div>
      </div>
    </div>

    <div *ngIf="!status.success" class="modal-dialog modal-notify modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Error</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="statusModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-close fa-4x mb-3 animated rotateIn"></i>
            <p class="red-text">{{status.message}}</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="statusModal.hide()" mdbRippleRadius>Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div mdbModal [config]="{ignoreBackdropClick: true}" #confirmModal="mdb-modal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="deleting" class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-warning fa-4x mb-3 animated rotateIn"></i>
          <p>Do you want to delete NE type: <span *ngFor="let neType of delNeTypes">[{{neType.name}}] </span>?</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="confirmModal.hide()" mdbRippleRadius>Cancel</a>
        <a type="button" class="btn btn-primary waves-light" (click)="submitDeletes();confirmModal.hide();statusModal.show()" mdbRippleRadius>Confirm</a>
      </div>
    </div>
  </div>
</div>
