<div class="card">
  <div class="card-body">
    <h2 class="card-title">Ne Type</h2>

    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Presentation</th>
        <th>Description</th>
        <th>Agent Class</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="neTypes">
      <tr *ngFor="let neType of neTypes">
        <th><input type="checkbox"></th>
        <td>{{neType.name}}</td>
        <td>{{neType.presentation}}</td>
        <td>{{neType.description}}</td>
        <td>{{neType.agentClass}}</td>
        <td>
          <a class="indigo-text waves-button" (click)="showEditForm(neType.id); form.show()" ><i class="fa fa-edit"></i> Edit</a>
          <a class="red-text waves-button" (click)="form.show()" ><i class="fa fa-minus-circle"></i> Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <app-pagination></app-pagination>

    <button type="button" class="btn btn-sm btn-outline-primary" (click)="showAddForm();form.show()" mdbRippleRadius><i class="fa fa-plus-circle"></i> Add</button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="form.show()" mdbRippleRadius><i class="fa fa-minus-circle"></i> Delete</button>
  </div>
</div>

<!--Modal: Contact form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="neTypeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title" *ngIf="editing"><i class="fa fa-edit"></i> Edit NE Type</h4>
        <h4 class="title" *ngIf="!editing"><i class="fa fa-plus-circle"></i> Add NE Type</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <form #neTypeForm="ngForm" (ngSubmit)="onSubmit();form.hide();style.show()" novalidate>
          <div class="md-form form-sm">
            <i class="fa fa-tags prefix"></i>
            <input *ngIf="!editing" mdbActive type="text" #nename="ngModel" id="form19"
                   class="form-control" name="name" [(ngModel)]="newNeType.name" required>
            <input *ngIf="editing" mdbActive type="text" #nename="ngModel" id="form19"
                   class="form-control" name="name" [(ngModel)]="editingNeType.name" required value="{{editingNeType.name}}">
            <label for="form19">NE name</label>
          </div>
          <div *ngIf="nename && nename.invalid && (nename.dirty || nename.touched)"
               class="alert alert-danger">

            <div *ngIf="nename.errors.required">
              NE name is required.
            </div>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-television prefix"></i>
            <input *ngIf="!editing" mdbActive type="text" id="form20"
                   class="form-control" name="presentation" [(ngModel)]="newNeType.presentation" required>
            <input *ngIf="editing" mdbActive type="text" id="form20"
                   class="form-control" name="presentation" [(ngModel)]="editingNeType.presentation" required value="{{editingNeType.presentation}}">
            <label for="form20">NE Presentation</label>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-tag prefix"></i>
            <input *ngIf="!editing" mdbActive type="text" id="form21"
                   class="form-control" name="agentClass" [(ngModel)]="newNeType.agentClass" required>
            <input *ngIf="editing" mdbActive type="text" id="form21"
                   class="form-control" name="agentClass" [(ngModel)]="editingNeType.agentClass" required value="{{editingNeType.agentClass}}">
            <label for="form21">Agent Class</label>
          </div>

          <div class="md-form form-sm">
            <i class="fa fa-pencil prefix"></i>
            <textarea *ngIf="!editing" mdbActive type="text" id="form8"
                      class="md-textarea mb-0" name="description" [(ngModel)]="newNeType.description"></textarea>
            <textarea *ngIf="editing" mdbActive type="text" id="form8"
                      class="md-textarea mb-0" name="description" [(ngModel)]="editingNeType.description">{{editingNeType.description}}</textarea>
            <label for="form8">Description</label>
          </div>

          <div class="text-center mt-1-half">
            <button type="submit" class="btn btn-success mb-2 waves-light" mdbRippleRadius><i class="fa fa-save ml-1"></i>  Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="status.success" class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Success</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>{{status.message}}</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Close</a>
      </div>
    </div>
  </div>

  <div *ngIf="!status.success" class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Error</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-close fa-4x mb-3 animated rotateIn"></i>
          <p class="red-text">{{status.message}}</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Close</a>
      </div>
    </div>
  </div>
</div>

<!--Modal: Contact form-->

