<div class="card">
  <div class="card-body">
    <h2 class="card-title">Release Configuration</h2>

    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th style="text-align: center">
          <input type="checkbox" [checked]="isSelectAll" (change)="selectAll()">
        </th>
        <th>NE Type</th>
        <th>NE Version</th>
        <th>Interfaces</th>
        <th>Adaptations</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="isLoading">
        <td colspan="6"><i>Loading ... </i></td>
      </tr>
      <tr *ngFor="let entity of entities">
        <td style="text-align: center;">
          <input type="checkbox" [checked]="entity.select" (change)="select(entity)">
        </td>
        <td>{{entity.neType}}</td>
        <td>{{entity.neVersion}}</td>
        <td>
          <li *ngFor="let interface of entity.interfaces">{{interface}}</li>
        </td>
        <td>
          <li *ngFor="let adap of entity.adaptations">{{adap}}</li>
        </td>
        <td>
          <a class="indigo-text waves-button" (click)="showEditForm(entity.id); formModal.show()" ><i class="fa fa-edit"></i> Edit</a>
          <a class="red-text waves-button" (click)="deleteEntity(entity.id);confirmModal.show()" ><i class="fa fa-minus-circle"></i> Delete</a>
        </td>
      </tr>
      </tbody>
    </table>

    <app-pagination></app-pagination>

    <button type="button" class="btn btn-sm btn-outline-primary" (click)="showAddForm();formModal.show()" mdbRippleRadius><i class="fa fa-plus-circle"></i> Add</button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteEntities();confirmModal.show()" mdbRippleRadius><i class="fa fa-minus-circle"></i> Delete</button>
  </div>
</div>

<!-- status modal -->
<div mdbModal [config]="{ignoreBackdropClick: true}" #statusModal="mdb-modal" class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="submitting">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Submitting ...</p>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-save fa-4x mb-3 animated rotateIn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!submitting">
    <div *ngIf="status.success" class="modal-dialog modal-notify modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Success</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="statusModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>{{status.message}}</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="statusModal.hide()" mdbRippleRadius>Close</a>
        </div>
      </div>
    </div>

    <div *ngIf="!status.success" class="modal-dialog modal-notify modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Error</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="statusModal.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-close fa-4x mb-3 animated rotateIn"></i>
            <p class="red-text">{{status.message}}</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="statusModal.hide()" mdbRippleRadius>Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div mdbModal [config]="{ignoreBackdropClick: true}" #confirmModal="mdb-modal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div *ngIf="deleting" class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="confirmModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-warning fa-4x mb-3 animated rotateIn"></i>
          <p>Do you want to delete Release Configuration: <span *ngFor="let entity of delEntities">[{{entity.adaptationId}}-{{entity.adaptationRelease}}] </span>?</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="confirmModal.hide()" mdbRippleRadius>Cancel</a>
        <a type="button" class="btn btn-primary waves-light" (click)="submitDeletes();confirmModal.hide();statusModal.show()" mdbRippleRadius>Confirm</a>
      </div>
    </div>
  </div>
</div>
