table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
  font-size: 8pt;
  font-family: Arial;
}
th {
  background-color: #c1e2b3;
  font-weight: bold;
}
th, td {
  height: 18px;
  line-height: 15px;
  padding: 0px 5px 0px 5px;
  text-align: left;
}
td {
  white-space: nowrap;
}

td.align-center-td {
  text-align: center;
}

td.align-right-td {
  text-align: right;
}
