<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="/home">ARS TOOLSET</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius href="/ars">ARS</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Admin<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius href="/netype">Ne Type</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="/nerel">NE Release</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbRippleRadius href="/ifo">Interface Object</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="/pto">Parent Object</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="/ao">Alarm Object</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline  waves-light" mdbRippleRadius>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
