<div class="card">
  <div *ngIf="spec" class="card-body">
    <h2 class="card-title">Counters of {{spec.neType}} {{spec.neVersion}}</h2>

    <div *ngFor="let adap of adaptations">
      <div style="margin-top: 20px"><h5>Adaptation ID: {{replaceUnderscore(adap)}}</h5></div>
      <div style="overflow: auto;">
        <table>
          <thead>
          <tr>
            <th>No.</th>
            <th>Measurement Type ID</th>
            <th>Counters</th>
            <th>Is supported by {{spec.neVersion}}</th>
            <th>Supported other versions</th>
            <th>Aggregation rule</th>
            <th>Presentation</th>
            <th>Unit</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mc of getMeasCounters(adap);let n = index">
              <td>{{n + 1}}</td>
              <td>{{mc.measName}}</td>
              <td>{{mc.counter.name}}</td>
              <td>
                <span *ngIf="mc.counter.supported">Yes</span>
                <span *ngIf="!mc.counter.supported">No</span>
              </td>
              <td>{{mc.counter.supportedOtherReleases}}</td>
              <td>{{mc.counter.aggRule}}</td>
              <td>{{mc.counter.presentation}}</td>
              <td>{{mc.counter.unit}}</td>
              <td>{{mc.counter.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
